<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>G1social - Aster</title>
    <!-- import amap-->
    <link rel="stylesheet" href="https://cache.amap.com/lbs/static/main1119.css"/>
    <script src="https://cache.amap.com/lbs/static/es5.min.js"></script>
    <script src="https://webapi.amap.com/maps?v=1.4.8&key=b38f7391301b4f411589921db716b35a"></script>
    <script src="https://cache.amap.com/lbs/static/addToolbar.js"></script>
    <!-- import jquery-->
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <!-- import bootstrap-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= javascript_pack_tag 'hello_vue' %>


    <style>
    </style>
  </head>

  <body>
   
    <!--
    

    <div id="alert-choose" class="alert alert-info">请在地图上选择一个位置。</div>
    <div id="alert-success" class="alert alert-success">数据提交成功！</div>
    <div id="alert-fail" class="alert alert-danger">数据提交失败！</div>

    <div class="modal fade" id="modal-upload" role="dialog">
      <div class="modal-content">
        <form id = "form-upload">
          <input name="utf8" type="hidden" value="&#x2713;" />
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="myModalLabel">新建条目</h4>
              </div>
          <div class="modal-body" id="modal-body">
            <div class="field" id="field-position">
              <label for="sitedpost_position">您选择的位置：</label><br />
              <input type="text" name="sitedpost[position]" id="sitedpost_position" readonly="true"/>
            </div>
            <div class="field">
              <br /><label for="sitedpost_content">条目内容：</label><br />
              <textarea name="sitedpost[content]" id="sitedpost_content"></textarea>
            </div>
          </div>
          <div class="modal-footer"><center>
            <input type="button" id="submitt" class="btn btn-primary" value="分享" onClick="upload()"></center>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-upload -->

    <!--div class="modal fade" id="modal-view" role="dialog">
      <div class="modal-content">
        <input name="utf8" type="hidden" value="&#x2713;" />
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="myModalLabel">阅读条目</h4>
            </div>
        <div class="modal-body" id="modal-body">
          <div class="field" id="field-date">
            <label for="sitedpost_date">添加时间：</label><br />
            <input type="text" id="sitedpost_date" readonly="true"/>
          </div>
          <div class="field">
            <br /><label for="sitedpost_content_view">条目内容：</label><br />
            <textarea id="sitedpost_content_view" readonly="true"></textarea>
          </div>
        </div>
      </div>
    </div-->

    <script>
      
    </script>

    <%= yield %>
  </body>
</html>
